<div class="container">
	<h1>Levels</h1>
			<% @levels.each do |level| %>
					<%= link_to level.name, admin_level_questions_path(level), class: 'aa' %>
			<% end %>

	<br>

	<%= link_to 'Back', root_path %>
</div>