<nav class="navbar navbar-expand navbar-dark bg-primary">
    <%= link_to "kaaki world", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'HOME', root_path, class: 'nav-link' %></li>
      </li>
    </ul>
  </nav>