<div class="container">

  <h1><%= @level.name %></h1>

  <% @questions.each do |question| %>
    <div class='contaniner'>
      <div class='row'>
        <div class='col-md-6 mt-4'>
          <%= link_to question.question_num, player_question_path(@level, question),
                                            class: "form-control text-sm-left" %>
        </div>
      </div>
    <div>
  <% end %>

  <div class='row'>
    <div class='col-md-5 mt-4'>
      <%= paginate @questions, theme: "bootstrap" %>
    </div>
    <div class='col-md-4 mt-4'>
      <%= link_to 'Back', admin_levels_path %>
    </div>
  </div>

</div>