<div class="col-md-12 btn-group mt-2 px-0" data-toggle="buttons">
  <%# checkが入った時にactiveを切り替える条件分岐 %>
  <% if question_selects[field.index].answer %>
    <label class="btn btn-outline-info active col-md-12">
  <% else %>
    <label class="btn btn-outline-info col-md-12">
  <% end %>
      <%= field.radio_button 'answer', 1, { checked: question_selects[field.index].answer } %>
      <%= t('.correct_answer') %>
    </label>

  <% if !question_selects[field.index].answer %>
    <label class="btn btn-outline-info active col-md-12">
  <% else %>
    <label class="btn btn-outline-info col-md-12">
  <% end %>
    <%= field.radio_button 'answer', 0, { checked: !question_selects[field.index].answer } %>
    <%= t('.incorrect_answer') %>
  </label>
</div>

