<div class="col-md-8  btn-group mt-2" data-toggle="buttons">
  <%# checkが入った時にactiveを切り替える条件分岐 %>
  <% if question_selects[field.index].answer %>
    <label class="btn btn-outline-danger active" style="width:50%">
  <% else %>
    <label class="btn btn-outline-danger" style="width:50%">
  <% end %>
      <%= field.radio_button 'answer', 1, { checked: question_selects[field.index].answer } %> true
    </label>

  <% if !question_selects[field.index].answer %>
    <label class="btn btn-outline-danger active" style="width:50%">
  <% else %>
    <label class="btn btn-outline-danger" style="width:50%">
  <% end %>
    <%= field.radio_button 'answer', 0, { checked: !question_selects[field.index].answer } %> false
  </label>
</div>

