.container
  h1 = @question.title

  = form_with(model: @question, local: true,
                url: admin_course_level_question_path) do |form|

    = render 'shared/notice'

    .input-group-text.col-md-8.px-0
      = form.label :content, class: 'ml-1'
      = form.text_area :content, class: 'form-control ml-1', rows: '10'

    = form.fields_for :question_selects, @question_selects do |field|
      .input-group-text.col-md-8.px-0.mt-5
        = field.text_area :content, class: 'form-control', rows: '3'

      = render 'question_select', field: field, question_selects: @question_selects

    br

    .row
      .col-6
      .actions.col-1
        = form.submit :submit, class: 'btn btn-info'
      .col-1
        = link_to 'Back', admin_course_level_questions_path
