<div class="container">
  <p>
    <strong>Question:</strong>
    <%= simple_format @question.question_num %>
    <%# 改行を自動的に入れてくれる %>
  </p>

  <%= link_to 'Back', admin_level_questions_path(@level) %>
</div>